/* Header Style */

.header {
  height: 0.9rem;
  border-bottom: 0.01rem solid #ccc;
  background: #1A1A1A;
  // background: #00B2E3;

  &__inner {
    width: 100%;
    height: 100%;
    padding: 0 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    border-radius: 100%;
    overflow: hidden;
    width: 72px;
    height: 72px;
    flex: 0 0 auto;
    & img {
      border-radius: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &__link {
      display: inline-block;
      margin-left: 0.5rem;
      text-decoration: none;
      color: #FFF;
      font-size: 0.18rem;
      font-weight: 700;
    }
  }

  & .menu__btn {
    padding: 0.1rem;
    color: #FFF;
    background: #1A1A1A;
    outline: none;
    border: 2px solid #FFF;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    & span {
      color: #FFF;
      font-weight: 700;
      margin-left: 0.05rem;
      font-size: 0.18rem;
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1024px) {
  .header__inner {
    padding: 0 0.8rem;

    .menu__btn {
      display: flex;
    }
  }

  .header__right {
    display: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .header__inner {
    padding: 0 0.24rem;

    .menu__btn {
      display: flex;
    }
  }

  .header__right {
    display: none;
  }
}