/* Tabs Style */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  & .header {
    width: 30%;

    & .header_item {
      width: 100%;
      background: #F4F4F4;
      margin-top: 1rem;
      padding: 0.3rem;
      text-align: center;
      border-radius: 0.09rem;
      cursor: pointer;

      & .header_item_logo {
        border-radius: 0.09rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  & .body {
    width: 70%;
    margin-left: 0.8rem;

    & .body_item {
      display: none;
    }

    & .body_item.active {
      display: block;
    }

    & .body_item_list {
      list-style-type: square;
      list-style-position: inside;
    }

    & .body_item_line {
      margin-top: 0.08rem;
    }
  }
}