/* Loading Skeleton */

.caption {
  margin: 1rem auto 0.5rem;
  text-align: center;
  height: 0.7rem;
  width: 80%;
  background: #F4F4F4;
  border-radius: 0.09rem;
  transform: translate3d(0, 0, 0);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transform: translate3d(0, 0, 0);

  & .header {
    width: 30%;

    & .header_item {
      width: 100%;
      height: 1.705rem;
      background: #FFF;
      margin-top: 0.6rem;
      text-align: center;
      border-radius: 0.09rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  & .body {
    width: 70%;
    height: 12rem;
    background: #FFF;
    margin-left: 0.8rem;
    border-radius: 0.09rem;
  }
}

// loader animation
.pv_shimmer_loader {
  animation-name: pv-shared-horizontal-shimmer;
  animation-duration: 1350ms;
  animation-delay: 84ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.34,0,.21,1);
  background-attachment: fixed;
  background-color: rgba(0,0,0,0.01);
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 40%, rgba(0,0,0,0.08) 50%, rgba(255, 255, 255, 0) 60%);
  background-size: 100vw 100vh;

  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pv_shimmer_loader_plain {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #F4F4F4;
}

@keyframes pv-shared-horizontal-shimmer {
  0% {
      background-position: -66vw 0
  }
  to {
      background-position: 66vw 0
  }
}

/* Tablet and Mobile */
@media (max-width: 1024px) {
  .caption {
    display: none;
  }
}

/* Tablet */
@media (min-width: 701px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;

    & .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      & .header_item {
        position: relative;
        width: 18vw;
        height: 18vw;
        margin: 0;
        border-radius: 0;
        padding: 0.18rem;
        flex: 1;
        border-right: 1px solid rgba(0,0,0,0.1);
        
        &:last-child {
          border-right: 0;
        }

        & .header_organization {
          display: none;
        }
      }
    }

    & .body {
      width: 100%;
      margin: 0;
      height: 9rem;
      padding: 0.48rem 0.6rem 0.8rem;
      border-radius: 0;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;

    & .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      & .header_item {
        position: relative;
        width: 20vw;
        height: 20vw;
        margin: 0;
        border-radius: 0;
        padding: 0.18rem;
        flex: 1;
        border-right: 1px solid rgba(0,0,0,0.1);
        
        &:last-child {
          border-right: 0;
        }

        & .header_organization {
          display: none;
        }
      }
    }

    & .body {
      width: 100%;
      margin: 0;
      height: 8rem;
      padding: 0.3rem 0.32rem 0.6rem;
      border-radius: 0;
    }
  }
}
