/* Experience Styles */

.main {
  background: #FFF;
  flex: 1;
}

.caption {
  margin: 1.2rem 1rem 0;
  font-size: 0.24rem;
  font-weight: 700;
  color: #333;
}

.container {
  margin: 0.6rem 1rem 1.6rem
}

