* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #F1F1F1;
  font: 16px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}