/* Skills Loading Styles */

.container {
  width: 100%;
}

.heading {
  width: 80%;
  height: 0.48rem;
  margin: 0 auto;
}

.line {
  width: 100%;
  height: 0.48rem;
  margin: 0.26rem auto 0;
}

.boldline {
  height: 0.48rem;
  margin: 0.26rem 0 0 0;
}

.firstline {
  width: 100%;
}

.lastline {
  width: 70%;
}

.fill {
  border-radius: 10px;
  background: #F4F4F4;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1024px) {
  .heading {
    height: 0.48rem;
  }

  .line, .boldline {
    height: 0.48rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .heading {
    height: 0.54rem;
  }

  .line, .boldline {
    height: 0.54rem;
  }
}