/* Skills Style */

.main {
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 2.1rem);
  transform: translate3d(0, 0, 0);

  & h1,
  & h3,
  & p {
    padding: 0 1.9rem;
    align-self: self-start;
  }

  & h1 {
    text-align: center;
    margin: -0.08rem auto 0;
  }

  & h3 {
    margin-top: 0.3rem;
    font-weight: 700 !important;
  }

  & p {
    margin-top: 0.3rem;
  }
}

/* Tablet and Mobile Devices */
@media (max-width: 1024px) {
  .main {
    padding: 0 0.32rem;

    & h1,
    & h3,
    & p {
      padding: 0;
    }

    & h1 {
      font-size: 0.22rem;
    }
  }
}