/* Footer Style */

.footer {
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1A1A1A;
  color: #FFF;

  & div:last-child {
    margin-top: 0.06rem;
  }
}