/* Footer Style */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1A1A1A;
  // background: #00B2E3;
  color: #FFF;
  text-align: center;
  padding: 0.3rem 0.2rem;

  & div:last-child {
    margin-top: 0.06rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  // .footer {
  //   padding: 0 0.2rem;
  // }
}